{% extends "base_app.html" %}

{% block title %}Profile{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block breadcrumb_title %}Profile{% endblock %}
{% block mobile_page_title %}Profile{% endblock %}

{% block content %}
<div class="form-panel">
  <form method="post" class="grid gap-5 md:grid-cols-2">
    {% csrf_token %}
    {% include "includes/ui/form_fields.html" with full_width_fields="" %}
    <div class="md:col-span-2 flex gap-3 pt-2">
      <button type="submit" class="btn-primary">Save changes</button>
    </div>
  </form>
</div>
{% endblock %}
